{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}


   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


    </style>
  
 
    <div class="container">
  <div class="py-5 text-center">
    <center><b>About Us</b></center>

    Welcome to Pink Blossom, your ultimate destination for exquisite clothing and beauty products that celebrate your unique style and enhance your natural beauty. At Pink Blossom, we believe in the power of fashion and beauty to empower and uplift, allowing you to express your individuality and embrace your true self.
    
    Our Vision
    Pink Blossom was born out of a passion for fashion and a desire to create a space where every person can find products that make them feel confident, beautiful, and comfortable. Our vision is to curate a collection of clothing and beauty products that cater to diverse tastes, preferences, and lifestyles, ensuring that everyone can find something that resonates with them.
    
    Fashion with a Purpose
    We believe that fashion is more than just clothing; it's a form of self-expression, art, and empowerment. Our clothing range is carefully curated to reflect the latest trends, timeless classics, and unique pieces that help you create your own fashion story. Whether you're dressing up for a special occasion or looking for everyday essentials, Pink Blossom has something for every moment of your life.
    
    Beauty that Shines
    Beauty is about embracing your unique features and enhancing them with high-quality products. Our beauty collection is designed to help you radiate confidence and embrace your natural beauty. From skincare essentials to makeup must-haves, our products are selected to promote self-care and make you feel your best, both inside and out.
    
    Quality and Ethical Values
    At Pink Blossom, quality and ethical sourcing are of paramount importance. We carefully select our products from trusted suppliers who share our commitment to quality, sustainability, and ethical practices. We believe that when you wear our products, you're not just embracing fashion and beauty, but also supporting responsible and conscious choices.
    
    Customer-Centric Approach
    Our customers are at the heart of everything we do. We strive to provide a seamless shopping experience that delights and satisfies your needs. Our dedicated customer support team is always ready to assist you, whether you have questions about products, need style advice, or require assistance with your order.
    
    Join the Pink Blossom Community
    We invite you to explore our collection and join our vibrant community of fashion and beauty enthusiasts. Discover the joy of expressing yourself through fashion and embracing your unique beauty with confidence. At Pink Blossom, we celebrate individuality, diversity, and the magic that happens when fashion and beauty come together.
    
    Thank you for choosing Pink Blossom. Let's embark on a journey of style, beauty, and empowerment together.
    
    With love and gratitude,
    The Pink Blossom Team
Contact Us
If you have any questions, concerns, or requests related to this Privacy Policy or your personal information, please contact us at:

Email: admin@pinkblossom.in
Phone: +91-8053013131

Our office address:
Name-Aman Kumar
13 Point Trading Company
Dabra chowk, Hisar 
Haryana, 125001

Effective Date: 10-08-2023
  </div>
</div>
{% endblock content %}