{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}
<style type="text/css">
	 h1 {
            color: rgb(6, 6, 6);
        }
         
        * {
            box-sizing: border-box;
        }
         
        body {
            text-align: center;
        }
               
        /* Float three columns */
        .column {
            float: left;
            width: 10%;
			padding: 0 5px;
            
        }
         
        .row {
            margin: 15px 15px 15px 5px;
			display: flex;
			justify-content: center;
			text-align: center;
			

        }
               
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
        }
               
               
        /* Style the cards */
        .card {
			display: flex;
			justify-content: center;
            text-align: center;
            background-color: rgb(255, 255, 255);
            color: rgb(248, 248, 248);
			border-color:rgb(255, 255, 255);
			border-radius: 15px;


        }
		.category-icon{
			color: #FF7CDA;
			background-color: #ffe9e9;
			margin: 31px 35px 3px 35px;
			padding: 13px;
			border-radius: 50%;
			
		}
		.category-name{
			color:  #444444;
			font-size: 18px;
			font-weight: 600;
		}         
        .card:hover{
            background-color:#ffe9e9;
            transition-duration: 1s; 
        }

		/* .category-icon:hover{
			color:#FF7CDA;
		}
		.category-name:hover{
			color:#FF7CDA;
		}
          */
        .fa {
			position: relative;
            font-size: 50px;
			
        }
		@media screen and (max-width: 800px) {
  .column {
    width: 40%;
	margin: 10px; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .category-icon{
	margin: 18px 19px 0px 13px;
  }
}

</style>

	<!-- Title Page -->
	<section>
		<h1>Categories</h1>
    <br>
   
    <div class="row">
		{% for cat in all_cat%}
        <div class="column">
            <div class="card">
                <p  class="category-icon">
                    <i class="fas fa-{{cat.icon}}"></i>
                </p>
                <a href="{{cat.slug}}"><p class="category-name">{{cat.title}}</p></a>
            </div>
        </div>
		{% endfor %}
		
    </div>
	</section>
	<!-- main content -->
	<section>
		

	</section>


	


		{% endblock content %}