{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.contact-us-page{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
background-color:  #FFFBFF;
  position: relative;
}
section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #000000;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #000000;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #FF7CDA;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
  color: #FFF;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #FF7CDA;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #050505;
  font-size: 1em;
}

.contact-form {
  background-color:  #FFFBFF;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333 !important;;
  outline: none;
  resize: none;
  background-color: #FFF;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form  .input-box-submit button{
  width: 100%;
  background: #FF7CDA;
  color: #FFF !important;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
}

.contact-form .input-box-submit button:hover
{
  background-color: #ffa3e5;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
 
    </style>
  
 
    <!-- <section class="contact-section">
      <div class="contact-info">
        <h2 class="contact-heading">Contact Us</h2>
        <p>If you have any questions, suggestions, or feedback, please feel free to reach out to us.</p>
        <p>Email: <a href="mailto:admin@pinkblossom.in">admin@pinkblossom.in</a><br><a href="mailto:kemporiumm@gmail.com">kemporiumm@gmail.com</a></p>
        <p>Phone: +91-805-3013131</p>
        <p>Address: 13 Point Trading Company<br>Dabra chowk
          , Hisar <br>
          Haryana, 125001</p>
        {% comment %} <a href="#" class="contact-button">Send Us a Message</a> {% endcomment %}
      </div>
    </section> -->
    <div class="contact-us-page">
    <section>
      <div class="section-header">
        <div class="container">
          <h2>Contact Us</h2>
          <p>The Pink Blossom Team Contact Us If you have any questions, concerns, or requests related to this Privacy Policy or your personal information, please contact us at.</p>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          
          <div class="contact-info">
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-home"></i>
              </div>
              
              <div class="contact-info-content">
                <h4>Address</h4>
                <p> Name:-&nbsp;Aman kumar<br/>In front of Chawla Nursing Home, <br>127, Basement of Sparash Dental Clinic,<br> Tosham Road, Model Town,<br> Hisar,
                  Haryana, 125001</p>
              </div>
            </div>
            
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-phone"></i>
              </div>
              
              <div class="contact-info-content">
                <h4>Phone</h4>
                <p> +91-8053013131</p>
              </div>
            </div>
            
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <i class="fas fa-envelope"></i>
              </div>
              
              <div class="contact-info-content">
                <h4>Email</h4>
               <p>admin@pinkblossom.in</p>
              </div>
            </div>
          </div>
          
          <div class="contact-form">
            <form action="" id="contact-form">
              <h2>Send Message</h2>
              <div class="input-box">
                <input  type="text" required="true" name="">
                <span>Full Name</span>
              </div>
              
              <div class="input-box">
                <input type="email" required="true" name="">
                <span>Email</span>
              </div>
              
              <div class="input-box">
                <textarea required="true" name=""></textarea>
                <span>Type your Message...</span>
              </div>
              
              <div class="input-box-submit">
                <button  value="Send" name="">Submit</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  

{% endblock content %}