{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #FFFBFF;
	color: rgb(4, 4, 4);
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}
.apple:hover{
  color:#000000 !important;
}
.google:hover{
  color:#000000 !important;
}
#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: rgb(8, 8, 8);
}

#footer-main a:hover{
    color:#FF7CDA;
}

#footer-main h6 a{
   color: black;
   font-weight: 600;
}

#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
input{
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px ;
  margin-bottom: 10px;
  background-color:  #e4e2e4;
}
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.subs {
  background-color: #FF7CDA;
  color: #ffffff;
}
.subs:hover{
  background-color: 
#ffa3e5;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <br>

            <img src="{% static 'images/logo.svg'%}" alt="IMG-PRODUCT" 
           >
           <div style="margin-top: 15px;">
            <input type="email" placeholder="Your email id here" />
            <button class="subs">Subscribe</button>
          </div>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="#">GET HELP</a></h6>
            {% comment %} <a href="">Order Status</a> {% endcomment %}
            <a href="{% url 'core:aboutus' %}">About Us</a>
            <a href="{% url 'core:terms' %}">T&C</a>
            <a href="{% url 'core:privacy' %}">Privacy Policy</a>
            <a href="{% url 'core:refundexchange' %}">Returns & Refunds</a>
            
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="#">Quick Links</a></h6>
            <a href="{% url 'core:contactus' %}">Contact Us</a>
            <a href="">Track Order</a>
            <a href="">Raise a Complaint</a>
            {% comment %} <a href="">Careers</a>
            <a href="">Investors</a>
            <a href="">Sustainability</a> {% endcomment %}
            
            



        </div>
        <div class="col-sm-3">
          {% comment %} <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a> {% endcomment %}

          {% comment %} <br><br> {% endcomment %}
          <a href="{% url 'core:contactus' %}">Business Inquiry</a>
          <br>
          <a  class="apple"  href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <a class="google" href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="/" style="margin-left: 1rem">Copyright | @pinkblossom 2023</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

