{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
  <div class="py-5">
   <h3 class="text-center">Privacy Policy</h3> 

<p><strong>Introduction</strong></p>
At Pink Blossom, we understand the importance of your privacy and the trust you place in us. This Privacy Policy outlines how Pink Blossom ("we," "us," or "our") collects, uses, protects, and processes your personal information when you interact with our website <a href="https://www.pinkblossom.in">https://www.pinkblossom.in</a>. By accessing and using our website, you agree to be bound by the terms of this Privacy Policy. Please review this policy carefully and refrain from using our website if you do not agree with its terms.
<p><br></p>
<p><strong>Collection of Personal Information</strong></p>
We may collect various types of personal information from you when you use our website or engage with our services. This information includes, but is not limited to, your name, address, email address, phone number, date of birth, and other relevant details. We may also request additional information for specific purposes, such as payment and identification verification. Additionally, we may collect browsing history, device information, and other data to enhance your user experience and improve our services.
<p><br></p>
<p><strong>Use of Personal Information</strong></p>
We use the personal information collected to provide and improve our services, process transactions, fulfill orders, offer promotions, and communicate with you about our products and updates. Your information may be shared within Pink Blossom for these purposes. We may also share your information with third parties to facilitate transactions, comply with legal obligations, prevent fraud, and protect our rights.
<p><br></p>
<p><strong>Cookies and Similar Technologies</strong></p>
We use cookies and similar technologies to enhance your browsing experience on our website. Cookies are small files placed on your device that help us analyze website traffic, personalize content, and offer tailored advertisements. You can adjust your browser settings to control or delete cookies, but this may affect certain features and functionalities of our website.
<p><br></p>
<p><strong>Third-Party Links</strong></p>
Our website may contain links to third-party websites. Please note that we are not responsible for the privacy practices or content of these websites. We encourage you to review the privacy policies of any linked websites before providing personal information.
<p><br></p>
<p><strong>Data Security</strong></p>
We take reasonable measures to protect your personal information from unauthorized access, disclosure, or misuse. However, no data transmission over the internet can be guaranteed as completely secure. You are responsible for maintaining the confidentiality of your account credentials and should notify us of any unauthorized access to your account.
<p><br></p>
<p><strong>Your Choices and Rights</strong></p>
You have the right to access, correct, or update your personal information. You may also opt-out of receiving promotional communications from us. If you wish to withdraw your consent or have any concerns about your personal information, please contact us using the information provided below.
<p><br></p>
<p><strong>Changes to Privacy Policy</strong></p>
We may update this Privacy Policy to reflect changes in our practices. Any significant changes will be communicated through our website or email notifications.
<p><br></p>
<p><strong>Contact Us</strong></p>
If you have any questions, concerns, or requests related to this Privacy Policy or your personal information, please contact us at:

<p><b>Email:</b> <a href="mailto:admin@pinkblossom.in">admin@pinkblossom.in</a></a></p>
<p><b>Phone:</b> +91-8053013131</p>
<p><b>Office address:</b>
  Name-Aman Kumar
  <p>In front of Chawla Nursing Home, <br>127, Basement of Sparash Dental Clinic,<br> Tosham Road, Model Town,<br> Hisar,
    Haryana, 125001</p>
 </p>

<span style="float: right;">Updated On: 24-08-2023</span>
  </div>
</div>
{% endblock content %}