{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}
<style>
</style>
    <div class="container">
  <div class="py-5">
    <h6><strong>Return and Exchange Policy</strong></h6>
At Pinkblossom, we strive to provide you with the best products. If you receive a product that is damaged or differs from the color, design, or pattern you ordered, we offer exchanges under the following conditions:
<br>
<p>Eligibility for Exchange:</p>
Exchanges are only applicable for products that are damaged or have a different color, design, or pattern than what was ordered.
To be eligible for an exchange, you must notify us within 3 days of receiving the product.
<p>Video Recording Requirement:</p>
For all exchange requests, we require a clear video recording of the unboxing process to verify the condition of the received product and packaging.
The video should clearly show the product, packaging, and any visible damage.
<p>Exchange Process:</p>
To initiate an exchange, please contact our customer support team at [customer support email/phone number] within 3 days of receiving the product.
Provide your order number, a description of the issue, and attach the video recording.
Our team will review your request and respond with further instructions for the exchange process.
<p>Shipping for Exchange:</p>
Customers are responsible for the shipping costs associated with returning the product to us.
Once your exchange request is approved, we will provide instructions for returning the product.
<p>Exchange Approval and Processing:</p>
Upon receiving the returned product and verifying the issue, we will process the exchange.
You will receive the replacement product within [insert estimated timeframe] after the verification is complete.
<p>No Refunds:</p>
We do not offer refunds for products. Exchanges are only available for damaged or incorrectly delivered items.
For beauty products there is no any kind of replacement and refund is available.
Terms and Conditions
Product Information:
We make every effort to accurately display product colors, designs, and patterns on our website. However, there may be slight variations due to monitor settings and photography lighting.
<p>Intellectual Property:</p>
All content on the Pinkblossom website, including images, text, graphics, and logos, are the intellectual property of Pinkblossom and may not be used without our written consent.
<p>Privacy Policy:</p>
Our privacy policy outlines how we collect, use, and protect your personal information. By using our website, you agree to the terms of our privacy policy.
<p>Modification of Terms:</p>
Pinkblossom reserves the right to modify, update, or revise these terms and conditions at any time without prior notice.
<p>Governing Law:</p>
These terms and conditions are governed by and construed in accordance with the laws of India.
By making a purchase on our website, you acknowledge and agree to the above Return and Exchange Policy and our Terms and Conditions.
<br><br>
<h6><strong>PinkBlossom Refund Policy</strong></h6>
<br>
Greetings valued customer,
We appreciate your patronage with PinkBlossom and are committed to ensuring your utmost satisfaction with every purchase you make on our platform. In order to establish transparent and equitable terms, we have formulated the following refund policy to govern instances where a refund is sought for products purchased through our website.
<p>1. Refund Eligibility Period:</p>
We understand that circumstances may evolve, and preferences may change. Should you find yourself in a situation where a refund is warranted, we kindly request that you initiate the refund process within 3 days of the delivery date. This allows us to promptly address your concerns while maintaining the integrity of the products and services we offer.

<p>2. Condition of the Returned Product:</p>
In order for us to efficiently process your refund request, we kindly ask that the item you are seeking a refund for be returned to us in the same condition it was delivered, free from any signs of wear and tear. This ensures that we can seamlessly reintegrate the product into our inventory and uphold the quality that we strive to deliver with every transaction.
<p>3. Refund Initiation:</p>
Upon the safe receipt of the returned product and its verification against our stipulated conditions, we will initiate the refund process. This process will be carried out in a meticulous manner to safeguard both the interests of PinkBlossom and your rights as a valued customer.
<p>4. Refund Processing Time:</p>
We understand the value of your time and assure you that our team will expedite the refund procedure to the best of our abilities. However, it is important to note that the time it takes for the refunded amount to reflect in your account may vary depending on the chosen mode of payment. For payments made through UPI, the refund process may take between 6 to 10 days from the date of receiving the returned item. Similarly, for refunds processed to bank accounts, the timeline may also fall within the aforementioned range.
<p>5. Open Channels of Communication:</p>
Should you decide to seek a refund, we encourage you to reach out to our dedicated customer support team. They are readily available to guide you through the process, answer any queries you may have, and provide assistance wherever necessary. Our commitment to your satisfaction remains unwavering.
<br>
At PinkBlossom, we believe in fostering a positive and mutually beneficial relationship with each of our customers. This refund policy has been designed to ensure fairness, transparency, and accountability in the refund process. We wholeheartedly appreciate your understanding of these terms and conditions, and we look forward to continuing to serve you with the utmost dedication.
Warm regards,<br>
Mr. Aman Kumar<br>
PinkBlossom Customer Relations<br>
Designation: Manager - CC - Social Media<br>
13 Point Trading Company Pvt Ltd ,<br>
Dabra chowk<br>
 Hisar
Haryana, 125001<br>
Contact us: admin@pinkblossom<br>
Phone: +91-805-3013131<br>
Time: Mon - Fri(9:00 - 18:00)<br>
Customer Support: You can reach our customer support team to address any of your queries or complaints by clicking the link, selecting your order: https://www.pinkblossom.in/contactus

25. Font Copyright
Copyright © (2023-Present), https://scripts.sil.org/cms/scripts/page.php?itemid=OFL web.
  </div>
</div>
{% endblock content %}